
h1{
    text-align: center;
}
h3{
    text-align: left;
 }
tr{
    text-align: left;
}
.lygl{
    text-align: left;
}

.myg{
    text-align: center;
}
.zv{
    color:rgb(218, 109, 109);
}
.tx{
    color: rgb(65, 64, 64); font-size: small;
}